body {
    max-width: 1440px;
    font-family: 'Quicksand', sans-serif;
}

/*-------------Header-------------*/
header {
   max-width: 1440px;
   height: 102px;
}
header nav {
    padding: 20px 140px;
}
header nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.school {
    display: flex;
    width: 202px;
    word-spacing: 11px;
    align-items: center;
}
.school p{
  line-height: 30px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.main-nav ul {
    display: flex;
    gap: 32px;
    line-height: 30px;
    font-weight: medium;
    font-size: 20px;
    list-style-type: none;
}
.main-nav ul li:nth-child(1){
    color: orange;
}
.main-nav ul li:nth-child(2){
    color: skyblue;
}
.main-nav ul li:nth-child(3){
    color: #05D4DF;
}
.main-nav ul li:nth-child(4){
    color: #5D58EF;
}
header nav button{
    background-color: orange;
    color: white;
    font-family: 20px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 60px;
}
header nav .menu{
    display: none;
}

/*----------------main section--------------*/
main .banner{
    margin: 0 140px;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text-container h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 24px;
}
.banner-text-container p{
    font-size: 20px;
    color: black;
    margin-bottom: 24px;
}
.banner-text-container button {
    padding: 10px 47px;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}
.banner-text {
    display: none;
}
/*---------------standard curriculum----------*/
.curriculum {
    background-image: url(assets/bg.png);
    width: 1440px;
    height: 880px;
    padding: 60px 0;
}
.curriculum .marq{
    padding-top: 30px;
    padding-bottom: 30px;

}
.curriculum .curriculum-title{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.curriculum-container {
    display: flex;
    margin: -60px 140px;
    gap: 28px;
    
}
.kinder,
.elementary,
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    width: 366px;
}
.kinder {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.kinder img,
 .elementary img,
 .middle img {
    margin-top: 52px;
    margin-bottom: 32px;
 }
.kinder p,
.elementary p,
.middle p{
    text-align: center;
    padding: 0 25px;
}

.kinder h1,
.elementary h1,
.middle h1 {
    font-size: 24.52px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 33px;
}
.kinder .title,
.elementary .title,
.middle .title {
    font-size: 15px;
    font-weight: medium;
    color: #808080;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}
.more-1 {
    font-size: 15px;
    font-weight: bold;
    color: #64C8FF;
    line-height: 28px;
    margin-bottom: 55px;
}
.more-2 {
    font-size: 15px;
    font-weight: bold;
    color: #F0AA00;
    line-height: 28px;
    margin-bottom: 55px;
}
.more-3{
    font-size: 15px;
    font-weight: bold;
    color: #8700FF;
    line-height: 28px;
    margin-bottom: 55px;
}
.arrows {
    max-width: 1440px;
    text-align: center;
    font-size: 50px;
}
.ri-arrow-left-wide-fill,
.ri-arrow-right-wide-fill{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

/*----------Stories section- #fea301-------*/
.stories-section {
    max-width: 1440px;
    width: 1440px;
    height: 1018px;
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(254, 161, 1, 0.7) 100%), url("assets/bg.png"); 
    background-size: cover;
    background-position: center; 
    background-blend-mode: overlay;
}
.stories-section .story-heading{
    margin-top: 40px;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}
.stories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1160px;
    height: 630px;
    padding: 80px 140px;
    gap: 10px;
    margin-top: -40px;

}
.stories-container .big-story {
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background-color: white;
    border-radius: 16px;
}
.stories-container .story-container img{
    border-radius: 16px 16px 0 0;
}
.stories-container h1 {
    font-size: 24;
    font-weight: bold;
    margin-left: 38px;
}
.big-story .story-date {
    position: relative;
    display: inline-block;
    border-radius: 48px;
    top: -40px;
    left: 38px;
    color: white;
    background-color: #3CD8E8;
    font-family: 'Raleway', sans-serif;
    padding: 14px 19px;
}
.stories-container .describe {
    font-size: 15px;
    font-weight: medium;
    line-height: 28px;
    color: #666666;
    margin-left: 38px;
}
.small-story-container .small-story {
    width: 290px;
    height: 301px;
    background-color: white;
    border-radius: 16px;
}
.small-story .small-story-img img{
    border-radius: 16px  16px 0 0;
    width: 100%;
}
.small-story .small-story-date {
    background-color: #95B226;
    color: white;
    padding: 9px 17px;
    border-radius: 45px;
    display: inline-block;
    position: relative;
    top: -35px;
    left: 38px;
}
.small-story div h2 {
    font-size: 15px;
    position: relative;
    margin-top: -25px; 
    text-align: center;
    font-weight: bold;
}
.small-story-container {
    width: 601px;
    height: 622px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
#small-story-2 {
    background-color: #5D58F0;
}

.button-view{
    text-align: center;
}
.button-view button {
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
}




/*----------Footer section----------*/
footer{
    max-width: 1440px;
    height: 519px;
    background-color: #01ACFD;
}
.footer-container {
    width: 1070px;
    height: 222px;
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: white;
}
.kids-edu {
    display: flex;
    align-items: center;
}
.kids-edu img{
    width: 82px;
    height: 81px;
}
.kids-edu h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 39px;
}
.kids-edu p{
    font-size: 20px;
}
.about-school h3{
    font-size: 24px;
    font-weight: bold;
}
.about-school ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
}
.contact .social-media {
    display: flex;
    gap: 10px;
}




/*---------------Responsive------------*/
@media screen and (max-width: 576px){

     header {
        width: 576px;
        max-width: 576px;
     }
     .hr{
        width: 576px;
        border: 1px solid orange;
     }
     header nav {
        width: 544px;
        padding: 12px 16px;
        align-items: center;
     }
     .school p,
     .main-nav,
     nav button{
        display: none;
     }
    header nav .menu{
        display: block;
    }
    /*----------banner---------*/
    .banner-text-container {
        display: none;
    }
    .banner-text {
        display: block;
        text-align: center;
    }
    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner-text  h1 {
        font-size: 24    px;
        font-weight: bold;
        margin-bottom: 18px;
        text-align: center;
    }
    .banner-text p {
        font-size: 14px;
        font-weight: medium;
    }
    .banner-text .button-1 {
        background-color: black;
        color: white;
        border-radius: 8px;
        padding: 8px 26px;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: bold;
    }
    /* ----------Curriculum---------*/
    .curriculum {
        width: 576px;
        max-width: 576px;
        height: 900px;
        margin-bottom: 850px;
    }
    .curriculum .curriculum-title  {
        font-size: 28px;
        text-align: center;
        font-weight: bold;
    }
    .curriculum-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .arrows {
        display: none;
    }
    .curriculum .curriculum-container .kinder h1,
    .curriculum .curriculum-container .elementary h1,
    .curriculum .curriculum-container .middle h1{
        font-size: 20px;
    }
    .curriculum .curriculum-container .kinder .title,
    .curriculum .curriculum-container .elementary .title,
    .curriculum .curriculum-container .middle .title {
        font-size: 10px;
    }
    .curriculum .curriculum-container .kinder .more-1,
    .curriculum .curriculum-container .elementary .more-2,
    .curriculum .curriculum-container .middle .more-3{
        font-size: 10px;
    }
    
   /*------- Stories Section--------*/
    .stories-section{
        width: 576px;
        height: 770px;
}
    .stories-section .story-heading {
        font-size: 25px;
        text-align: center;
    }
    .stories-container .big-story{
        display: none;
}
    .stories-container {
        width: 576px;
        padding: 0 16px;
        height: 565px;
    }
    .small-story-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .small-story-container .small-story{
        width: 190px;
        height: 200px;
        margin-right: 15px;
    }
    .small-story-container .small-story img {
        width: 100%;
}
    .small-story-container .small-story .small-story-date {
        border-radius: 28px;
        background-color: #95B226;
        color: white;
        padding: 6px 11px;
        font-size: 9px;
        font-weight: medium;
        position: relative;
        top: -25px;
        left: 25px;
    }
    #last-story {
        margin-top: -170px;
    }
    #small-story-3 {
        background-color: #5D58F0;
    }
    .small-story-container .small-story h2 {
        font-size: 9px;
    }
    .button-view button{
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border-radius: 12px;
        padding: 10 38px;
    }


    /*-----------footer---------*/
    footer{
        margin-top: 0px;
        width: 576px;
        height: 750px;
        background-color: #01ACFD;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-info {
        margin-left: 30px;
    }
    .footer-info .kids-edu img {
        width: 70px;
    }
    .footer-info .kids-edu h1{
        font-size: 35px;
    }
    .about-school h3 {
        margin-left: 20px;
        font-size: 30px;
    }
    .about-school ul li{
        font-size: 16;
        margin-left: -17px;
    }
    .contact h3{
        font-size: 22px;
        margin-left: 30px;
    }
    .contact .social-media img {
        margin-left: 30px;
    }
}   


























































