body {
    max-width: 1440px;
    font-family: 'Quicksand', sans-serif;
    /* background: rgb(30, 30, 30); */
}

/*-------------Header-------------*/
header {
   max-width: 1440px;
   height: 102px;
}
header nav {
    padding: 20px 140px;
}
header nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.school {
    display: flex;
    width: 202px;
    word-spacing: 11px;
    align-items: center;
}
.school p{
  line-height: 30px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.main-nav ul {
    display: flex;
    gap: 32px;
    line-height: 30px;
    font-weight: medium;
    font-size: 20px;
    list-style-type: none;
}
.main-nav ul li:nth-child(1){
    color: orange;
}
.main-nav ul li:nth-child(2){
    color: skyblue;
}
.main-nav ul li:nth-child(3){
    color: #05D4DF;
}
.main-nav ul li:nth-child(4){
    color: #5D58EF;
}
header nav button{
    background-color: orange;
    color: white;
    font-family: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 60px;
}
header nav .menu{
    display: none;
}

/*----------------main section--------------*/
main .banner{
     margin: 0 140px;
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text-container h1{
    font-size: 56px;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 24px;
}
.banner-text-container p{
    font-size: 20px;
    color: black;
    margin-bottom: 24px;
}
.banner-text-container button {
    padding: 10px 47px;
    color: white;
    background-color: black;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}
.banner-text {
    display: none;
}
/*---------------standard curriculum----------*/
.curriculum {
    background-image: url(assets/bg.png);
    width: 1440px;
    height: 880px;
    padding: 60px 0;
}
.curriculum .curriculum-title{
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.curriculum-container {
    display: flex;
    margin: 80px 140px;
    gap: 28px;
}
.kinder,
.elementary,
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    width: 366px;
}
.kinder {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.kinder img,
 .elementary img,
 .middle img {
    margin-top: 52px;
    margin-bottom: 32px;
 }
.kinder p,
.elementary p,
.middle p{
    text-align: center;
    padding: 0 25px;
}

.kinder h1,
.elementary h1,
.middle h1 {
    font-size: 24.52px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 33px;
}
.kinder .title,
.elementary .title,
.middle .title {
    font-size: 15px;
    font-weight: medium;
    color: #808080;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
}
.more-1 {
    font-size: 15px;
    font-weight: bold;
    color: #64C8FF;
    line-height: 28px;
    margin-bottom: 55px;
}
.more-2 {
    font-size: 15px;
    font-weight: bold;
    color: #F0AA00;
    line-height: 28px;
    margin-bottom: 55px;
}
.more-3{
    font-size: 15px;
    font-weight: bold;
    color: #8700FF;
    line-height: 28px;
    margin-bottom: 55px;
}
.arrows {
    max-width: 1440px;
    text-align: center;
    font-size: 50px;
}
.ri-arrow-left-wide-fill,
.ri-arrow-right-wide-fill{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

/*----------Stories section- #fea301-------*/
.stories-container {
    max-width: 1440px;
    height: 1018px;
    background: linear-gradient(to bottom, #FFFFFF 0%, rgba(254, 161, 1, 0.7) 100%),url("assets/bg.png"); 
    background-size: cover;
    background-position: center; 
    background-blend-mode: overlay;

}
.great-stories-container {
    display: flex;
    gap: 10px;
    width: 1160px;
    height: 630px;
    padding: 80px 140px;
}
.stories-container h1 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 80px;
}
.story-container {
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background-color: white;

}
.story-container .story-img img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story-container .story-date-1 {
    display: inline-block;
    position: relative;
    background-color: ;
    font-size: 15px;
    font-weight: medium;
    line-height: 28px;
    padding: 15px 18px;
    color: white;
    background-color: #3CD8E8;
    border-radius: 50px;
    margin-top: 0px;
    top: -30px;
    left: 38px;
}
.story-container h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
    margin-bottom: 40px;
    margin-left: 38px;
}
.story-container .beautiful {
    font-size: 15px;
    line-height: 18px;
    color: #666666;
    margin-left: 38px;
    margin-bottom:34px;
    margin-top: 35px;
}
.more-stories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 601px;
    height: 622px;
    gap: 10px;
}
.more-stories .small-story {
    width: 290px;
    height: 300px;
    border-radius: 16px;
    background-color: white;
}
.more-stories .small-story .story-2-bg{
    background-color: #5D58F0;
}
.more-stories .small-story img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.small-story .story-date-2 {
    position: relative;
    display: inline-block;
    top: -25px;
    background-color: #95B226;
    color: white;
    left: 38px;
    padding: 9px 18px;
    border-radius: 48px;
}
.small-story h3{
    margin: 17px 35px 27px 38px;
    font-size: 15px;
    font-weight: bold;
}
.stories-container .button {
    text-align: center;
}
.stories-container .-story-button button {
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
    outline: none;
 }




/*----------Footer section----------*/
footer{
    max-width: 1440px;
    height: 519px;
    background-color: #01ACFD;
}
.footer-container {
    width: 1070px;
    height: 222px;
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: white;
}
.kids-edu {
    display: flex;
    align-items: center;
}
.kids-edu img{
    width: 82px;
    height: 81px;
}
.kids-edu h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 39px;
}
.kids-edu p{
    font-size: 20px;
}
.about-school h3{
    font-size: 24px;
    font-weight: bold;
}
.about-school ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
}
.contact .social-media {
    display: flex;
    gap: 10px;
}




/*---------------Responsive------------*/
@media screen and (max-width: 576px){
     header {
        width: 576px;
        max-width: 576px;
        border: 1px solid orange;
     }
     header nav {
        width: 544px;
        padding: 12px 16px;
        align-items: center;
     }
     .school p,
     .main-nav,
     nav button{
        display: none;
     }
    header nav .menu{
        display: block;
    }
    /*----------banner---------*/
    .banner-text-container {
        display: none;
    }
    .banner-text {
        display: block;
        text-align: center;
    }
    .banner {
        display: flex;
        flex-direction: column;
    }
    .banner-text  h1 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 18px;
        text-align: center;
    }
    .banner-text p {
        font-size: 14px;
        font-weight: medium;
    }
    .banner-text .button-1 {
        background-color: black;
        color: white;
        border-radius: 8px;
        padding: 6px 24px;
        border: none;
        outline: none;
    }
    /* ----------Curriculum---------*/
    .curriculum {
        width: 576px;
        max-width: 576px;
        height: 992px;
        margin-bottom: 850px;
    }
    .curriculum .curricululm-title  {
        font-size: 26px;
        text-align: center;
        font-weight: bold;
    }
    .curriculum-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .arrows {
        display: none;
    }
    .stories-container {
        width: 576px;
        max-width: 576px;
        height: 768px;
    }
    .great-stories-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 544px;
        margin-top: -110px;
        margin-left: -45px;
    }
    .stories-container h1 {
        font-size: 26px;
        font-weight: bold;
        padding-top: 40px;
    }
    .story-container {
        display: none;
    }
    .more-stories {
        display: flex;
        align-items: center;
        gap: 11px;
    }
    .more-stories .small-story {
        width: 220px;
        height: 240px;
    }
    .small-story .story-2 {
        width: 100%;
        position: relative;
        top: -7px;
    }
    .small-story .story-date-2{
        background-color: #95B226;
        border-radius: 28px;
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
    }
    .small-story h3 {
        font-size: 9px;
        font-weight: bold;
        line-height: 17px;
        margin-top: -6px;
    }
   


    /*-----------footer---------*/
    footer{
        margin-top: 180px;
        width: 576px;
        height: 750px;
        background-color: #01ACFD;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-info {
        margin-left: 30px;
    }
    .footer-info .kids-edu img {
        width: 70px;
    }
    .footer-info .kids-edu h1{
        font-size: 35px;
    }
    .about-school h3 {
        margin-left: 20px;
        font-size: 30px;
    }
    .about-school ul li{
        font-size: 16;
        margin-left: -17px;
    }
    .contact h3{
        font-size: 22px;
        margin-left: 30px;
    }
    .contact .social-media img {
        margin-left: 30px;
    }
}   


























































